<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-app="CentralFun">
        <div ng-controller="CentralFunController">
            <h3>{{name}}</h3>
            <input type="text" ng-model="name">
            No. of times value edited : {{count}}<br>
            <br>
            {{test}}<br>
            <br>
            <input type="button" value="Angular" ng-click="changeName()">
            <input type="button" value="JS" id="btn">

        </div>
    </div>

    
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="Central_Function_JS.js"></script>
</html>