<DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom_Filter</title>
</head>
<body ng-app="custom">
        <div ng-controller="CustomController">
                <div>
                    <header><h3>Before using Custom Filter</h3></header>
                    <table celpadding="2" cellspacing = "2" border="1px solid black">
                        <tr>
                            <td>Salary</td>
                        </tr>
                        <tr ng-repeat="x in user">
                           <td>{{x}}</td>
                        </tr>
                    </table>
                </div>
                <div>
                        <header><h3>After using Custom Filter</h3></header>
                        <table celpadding="2" cellspacing = "2" border="1px solid black">
                            <tr>
                                <td>Salary</td>
                            </tr>
                            <tr ng-repeat="x in user">
                                <td>{{x|converter}}</td>
                            </tr>
                        </table>
                </div>
        </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="CustomFilter_JS.js"></script>
</html>